<div class="row">
    <div class="col-xs-12">
        <h2>Words in the Dictionary</h2>
    </div>
</div>
<div class="row" id="words_index_buttons">
    <div class="col-xs-12">
        <a href="/" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Find Your Anagram!</a>
        <a class="btn btn-default" href="/words/new" role="button"><i class="fa fa-pencil"></i>&nbsp; Add a new word</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>Text</th>
            <th>Letters</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <% if !@word.all.nil? %>
            <% @word.sort.each do |word| %>
            <tr>
                <td scope="row">
                    <a href="<%= "/words/#{word.id}" %>"><%= word.text %></a>
                </td>
                <td scope="row">
                    <%= word.letters %>
                </td>
                <td scope="row">
                    <a href="<%= "/words/#{word.id}/edit" %>" class="btn btn-primary" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit</a>
                </td>
                <td scope="row">
                    <form action="<%= "/words/#{word.id}" %>" method="post" class="delete">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                    </form>
                </td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</div>